.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--inverted-text-color);
  background-color: var(--strong-bg-color);
}

.footer__container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;

  @media screen and (min-width: 1200px) {
    justify-content: normal;
  }
}

.footer__block {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: auto;
  }

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer__block:not(:last-child) {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__block:nth-child(n + 2) {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__block:last-child {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: auto;
    margin-left: auto;
  }
}

.address-block {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-block__contacts {
  @extend %list;
}

.address-block__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: var(--footer-link-color);
  text-decoration: none;

  transition: color var(--transition-params);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__caption {
  margin-bottom: 20px;
  text-align: inherit;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* footer form */

.footer__form {
  text-align: inherit;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;

  padding: 15px 16px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;

  color: var(--footer-link-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;

    color: var(--footer-link-color);
  }

  &:focus {
    outline: 0;
    border: 1px solid var(--accent-color);
  }
}

.footer__btn {
  @extend .submit-btn;
  margin: 0 auto;
}

.btn-icon {
  margin-left: 10px;
}
