.jobs {
  @extend %list;
  @include flex_grid(30px);
}

.jobs__item {
  position: relative;

  @include flex_grid_item(3, 30px);
}

.jobs__plate {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  @include flex_center();

  color: var(--inverted-text-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
