.team {
  @extend %list;

  margin: 0 auto -30px;

  @media screen and (min-width: 768px) {
    @include flex_grid(30px);
  }
}

.person {
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    max-width: 450px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    @include flex_grid_item(2, 30px);
  }

  @media screen and (min-width: 1200px) {
    @include flex_grid_item(4, 30px);
  }
}

.person__info {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.person__name {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.person__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
